[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-journal"]
	path = themes/hugo-journal
	url = https://github.com/dashdashzako/hugo-journal.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = git@github.com:kimcc/hugo-theme-noteworthy.git
