.tags {
  li {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eee;
    a {
      color: #333;
      text-decoration: none;
    }
  }
}
