{{ define "main" }}
<div class="article-content">
    <div>
        <a href="https://zenn.dev/nfurudono">Zenn</a>を試しに使って見ています。最新の記事はZennを参照してください。
    </div>
    {{ if isset .Site.Params "description" }}
    <div class="description">
        <p>{{ .Site.Params.Description | markdownify }}</p>
    </div>
    {{ end }}
    <!-- Range over the pages and only include the ones that are a post type -->
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range where $pages "Params.index" "!=" "false" }}
    <article>
        <h1>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </h1>
        <div>
            <p>{{ .Content }}</p>
            {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
            <p><a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a></p>
            {{ end }}
        </div>

        <div class="post-footer">
            <!-- Display tags -->
            {{if .Params.tags}}
            <p>
                {{ range .Params.tags }}
                <a class="tag" href="{{ " tags/" | relLangURL }}{{ . | urlize }}">#{{.}}</a>
                {{ end }}
            </p>
            {{ end }}
            <p>
                <time>{{ .PublishDate.Format .Site.Params.listPageDateFormat }}</time>
                {{ if and .Lastmod (ne (.PublishDate.Format "2006-01-02") (.Lastmod.Format "2006-01-02")) }}
                lastmod: <time>{{ .Lastmod.Format .Site.Params.listPageDateFormat }}</time>
                {{end}}
            </p>
        </div>
    </article>
    {{ end }}
</div>
{{ end }}
