---
import BaseLayout from '../layouts/BaseLayout.astro';
import { listArticles } from '../lib/articles';

const articles = await listArticles();
const showDateOnTopPage = false; // Can be configured via env variable
---

<BaseLayout>
  <ol>
    {articles.map((article) => (
      <li>
        <article>
          <div>
            <a href={`/posts/${article.id}/`}>{article.title}</a>
            {showDateOnTopPage && (
              <p>
                <time>{article.date}</time>
              </p>
            )}
            <p>{article.desc}</p>
          </div>
        </article>
      </li>
    ))}
  </ol>
</BaseLayout>
