name: Deploy Diary
permissions:
  contents: read
on:
  push:
    branches:
      - main
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    name: Build
    defaults:
      run:
        working-directory: tools/tt
    steps:
      - uses: actions/checkout@v4

      - name: Get commit hash
        id: get_commit_hash
        run: echo "COMMIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Check for typos
        uses: crate-ci/typos@c8fd3764afbf5eaf6e53d2e6571c835db2c8fa5f # v1.29.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: tools/tt/package.json
          cache: "npm"
          cache-dependency-path: tools/tt/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run check

      - name: Build for diary
        run: npm run build && mv out out-diary
        env:
          ARTICLE_DIRECTORY_PATHS: "../../content/daily"
          SITE_TITLE: "diary.nfurudono.com"
          COMMIT_HASH: ${{ env.COMMIT_HASH }}

      - name: Build for dev
        run: npm run build && mv out out-dev
        env:
          ARTICLE_DIRECTORY_PATHS: "../../content/posts"
          SITE_TITLE: "dev.nfurudono.com"
          SHOW_DATE_ON_TOP_PAGE: "true"
          COMMIT_HASH: ${{ env.COMMIT_HASH }}

      - name: Upload diary artifact
        uses: actions/upload-artifact@v4
        with:
          name: out-diary
          path: tools/tt/out-diary
          retention-days: 1

      - name: Upload dev artifact
        uses: actions/upload-artifact@v4
        with:
          name: out-dev
          path: tools/tt/out-dev
          retention-days: 1

  deploy-diary:
    runs-on: ubuntu-24.04
    needs: build
    name: Deploy Diary
    steps:
      - name: Download diary artifact
        uses: actions/download-artifact@v4
        with:
          name: out-diary
          path: out-diary

      - name: Deploy to diary pages
        uses: cloudflare/wrangler-action@6d58852c35a27e6034745c5d0bc373d739014f7f # v3.13.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: pages deploy out-diary --commit-dirty=true --project-name diary-nfurudono

  deploy-dev:
    runs-on: ubuntu-24.04
    needs: build
    name: Deploy Dev
    steps:
      - name: Download dev artifact
        uses: actions/download-artifact@v4
        with:
          name: out-dev
          path: out-dev

      - name: Deploy to dev pages
        uses: cloudflare/wrangler-action@6d58852c35a27e6034745c5d0bc373d739014f7f # v3.13.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: pages deploy out-dev --commit-dirty=true --project-name dev-nfurudono

  purge-cache:
    runs-on: ubuntu-24.04
    needs: [deploy-diary, deploy-dev]
    if: always()
    name: Purge Cache
    steps:
      - name: Purge All Cache
        run: |
          curl https://api.cloudflare.com/client/v4/zones/${{ secrets.ZONE_ID }}/purge_cache \
              -H 'Content-Type: application/json' \
              -H "X-Auth-Email: ${{ secrets.CLOUDFLARE_EMAIL }}" \
              -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_KEY }}" \
              -d '{
                    "hosts": [
                      "diary.nfurudono.com",
                      "dev.nfurudono.com"
                    ]
                  }'
