name: Deploy Diary
permissions:
  contents: read
on:
  push:
    branches:
      - main
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-24.04
    name: Deploy
    defaults:
      run:
        working-directory: tools/tt
    steps:
      - uses: actions/checkout@v4

      - name: Get commit hash
        id: get_commit_hash
        run: echo "COMMIT_HASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Check for typos
        uses: crate-ci/typos@c8fd3764afbf5eaf6e53d2e6571c835db2c8fa5f # v1.29.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: tools/tt/package.json
          cache: "npm"
          cache-dependency-path: tools/tt/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run check

      - name: Build for diary
        run: npm run build && mv out out-diary
        env:
          ARTICLE_DIRECTORY_PATHS: "../../content/daily"
          SITE_TITLE: "diary.nfurudono.com"
          COMMIT_HASH: ${{ env.COMMIT_HASH }}

      - name: Build for dev
        run: npm run build && mv out out-dev
        env:
          ARTICLE_DIRECTORY_PATHS: "../../content/posts"
          SITE_TITLE: "dev.nfurudono.com"
          SHOW_DATE_ON_TOP_PAGE: "true"
          COMMIT_HASH: ${{ env.COMMIT_HASH }}

      - name: Deploy to pages (parallel)
        working-directory: tools/tt
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          npm install -g wrangler
          wrangler pages deploy out-diary --commit-dirty=true --project-name diary-nfurudono &
          PID1=$!
          wrangler pages deploy out-dev --commit-dirty=true --project-name dev-nfurudono &
          PID2=$!
          wait $PID1 $PID2

      - name: Purge All Cache
        if: always()
        run: |
          curl https://api.cloudflare.com/client/v4/zones/${{ secrets.ZONE_ID }}/purge_cache \
              -H 'Content-Type: application/json' \
              -H "X-Auth-Email: ${{ secrets.CLOUDFLARE_EMAIL }}" \
              -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_KEY }}" \
              -d '{
                    "hosts": [
                      "diary.nfurudono.com",
                      "dev.nfurudono.com"
                    ]
                  }'
